.header {
  margin: 0 2.5rem;
  padding: 0.5rem 0;
  align-items: center;
  /* background-color: aqua; */
}

.headerLeft {
  width: 70vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header_icon {
  width: 80px;
  cursor: pointer;
}

a > span {

  margin: 0;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: red;

}
